@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'Comic Neue', cursive; color: #444;}

ul,li,ol{list-style: none;}

p, a, h1, h2, h3, h4, h5, h6, ul, li, tr, td, input, select, textarea, button, figure, blockquote{transform: skew(-0.1deg);}

a{text-decoration: none; color: #444;}

h1,h2{color: #222;}
h1{font-size: 75pt;}
h2{font-size: 37.5pt;}
h3{font-size: 18.75pt;}



/* header */
header{width: 1200px; height: 100px; margin: 0 auto;}

header .logo1{width: 80px;height: 80px; float: left; margin:10px 0;}
header>.logo1 img{height: 100%;}

header nav{float: right; position: relative; font-size: 15pt;}
#menu{width: 40px; height: 40px; margin: 30px 0;}
#menu img{width: 100%; height: 100%;}

.menuli{width: 150px; height: 700px; display: none; position: absolute; top: 100px;right: 0; background-color: #fff;}
.menuli li{height: 30px; font-family: 'GyeonggiBatang'; padding: 5px 0 0 10px;}
.menuli .mt{font-weight: bold; background-color: #222; color: #fff;}

#menu .menuli>li:hover{font-weight: bold;}



footer{width: auto; height: 443px; margin: 50px 0 0 0; border-top: 1px solid #eee; padding-top: 50px;}
footer .sm{width: 1200px; height: 200px; margin: 0 auto;}

footer .sm>.logo2{width: 200px; height: 200px; float: left;}
footer .sm>.logo2 img{width: 100%;}

footer .sm nav{height: 200px; width: 900px; margin: 0 0 0 100px; float: right;}
footer .sm nav>table{width: 900px; height: 200px; text-align: left; vertical-align: middle; font-family: 'GyeonggiBatang'; font-size: 11.25pt;}
footer .sm>nav>table tr:first-child{vertical-align: top; font-size: 15pt;}
footer .sm>nav>table th{width: 20%;}


footer .cr{width: 1200px; margin: 125px auto 0 auto;}
footer>.cr p:first-child{float: left;}
footer>.cr p:last-child{float: right;}